@model sistema_academia.Models.PlanoAluno

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
<h2>Create</h2>

<h4>Plano Aluno</h4>

<hr />
-->


<section class="content">
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header  with-border">
                <h3 class="box-title">Cadastrar plano por aluno</h3>
            </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="plano" class="control-label">Plano</label>
                <select name="plano" id="plano" class="form-control" required>
                    <option value="">Selecione...</option>
                    @foreach (var item in ViewBag.Planos)
                    {
                        <option value="@item.id">@item.nome</option>
                    }
                </select>
                
            </div>
            
            <div class="form-group">
                <label for="aluno" class="control-label">Aluno</label>
                <select name="aluno" id="aluno" class="form-control" required>
                    <option value="">Selecione...</option>
                    @foreach (var item in ViewBag.Alunos)
                    {
                        <option value="@item.id">@item.nome</option>
                    }
                </select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
</div>
</div>



<div>
    <a asp-action="Index">Listagem</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
