@model sistema_academia.Models.PlanoAluno

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>PlanoAluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="plano" class="control-label">Plano</label>
                <select name="plano" id="plano" class="form-control" required>
                    <option value="">Selecione...</option>
                    @foreach (var item in ViewBag.Planos)
                    {
                        <option value="@item.id">@item.nome</option>
                    }
                </select>
                
            </div>
            
            <div class="form-group">
                <label for="aluno" class="control-label">Aluno</label>
                <select name="aluno" id="aluno" class="form-control" required>
                    <option value="">Selecione...</option>
                    @foreach (var item in ViewBag.Alunos)
                    {
                        <option value="@item.id">@item.nome</option>
                    }
                </select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listagem</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
