@model IEnumerable<sistema_academia.Models.Aluno>

@{
    ViewData["Title"] = "Sistema de Controle de Academia - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h3>Dashboard</h3>
</section>

<section class="content container-fluid">
    


<section class="content">
 <div class="row">

     <!--
     <div class="col-lg-3 col-xs-6">
          
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Alunos ativos</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        -->
     <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>Alunos cadastrados</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="~/Alunos" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53</h3>

              <p>Alunos ativos</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Pagamentos atrasados</p>
            </div>
            <div class="icon">
              <i class="ion ion-money"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
 </div>      
</section>

</section>